@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Libre+Franklin:wght@300;400;500;600;700;800&family=Sanchez:ital@0;1&display=swap");

@tailwind base;
@media (min-width: 768px) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #191b1c;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    /* border: 3px solid var(--primary); */
  }
}
@tailwind components;
@tailwind utilities;

.clip1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

:root {
  --primary: #0d0d0d;
  --secondary: #eb5939;
  --signature-f: "Alex Brush", cursive;
  --primary-f: "Libre Franklin", sans-serif;
  --secondary-f: "Sanchez", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right, #0d0d0d, #222222);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Libre Franklin", sans-serif;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

.name {
  -webkit-text-stroke: 1px #e5e0e0bb;
}
