@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Libre+Franklin:wght@300;400;500;600;700;800&family=Sanchez:ital@0;1&display=swap");

@tailwind base;
@media (min-width: 768px) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #191b1c;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    /* border: 3px solid var(--primary); */
  }
}
@tailwind components;
@tailwind utilities;

.clip1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@layer components {
  .hero-section {
    @apply before:content-["UN"] before:text-[13rem] before:text-[#0d0d0d] before:absolute before:top-[50%] before:left-[50%] before:-translate-x-1/2 before:-translate-y-1/2 before:font-bold before:z-0 before:drop-shadow-xl before:blur-[1px] before:[text-shadow:_0_0_40px_rgb(235,89,57)] sm:before:text-[20rem] before:font-SecondaryF lg:before:text-[25rem];
  }

  .flexy {
    @apply flex justify-center items-center;
  }

  .li-desktop {
    @apply relative before:w-0 before:h-1 before:absolute before:-bottom-3 before:rounded-md before:bg-secondary hover:before:w-full before:transition-all before:duration-300 hover:opacity-90 transition-opacity duration-300 lg:text-xl xl:text-2xl;
  }

  .projects-buttons {
    @apply hover:text-additional relative hover:before:w-full transition-all xl:px-8 xl:py-2 xl:text-xl  text-secondary opacity-0;
  }

  .projects-button__icon {
    @apply text-secondary inline pb-1 group-hover:translate-x-2 group-hover:text-additional transition-all duration-300 xl:text-xl;
  }

  .form-input {
    @apply bg-transparent block border-b border-b-secondary w-full pl-2 pb-2 mb-2 text-secondary focus:outline-none placeholder:text-secondary placeholder:font-PrimaryF;
  }

  .form-links {
    @apply hover:opacity-80 hover:scale-110;
  }
}

:root {
  --primary: #0d0d0d;
  --secondary: #eb5939;
  --signature-f: "Alex Brush", cursive;
  --primary-f: "Libre Franklin", sans-serif;
  --secondary-f: "Sanchez", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right, #0d0d0d, #222222);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Libre Franklin", sans-serif;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

.name {
  -webkit-text-stroke: 1px #e5e0e0bb;
}
